<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dcu-modelzoo.monthly</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>__SKILL_DIR__/scripts/monthly_run.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Day</key><integer>1</integer>
        <key>Hour</key><integer>9</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>LANG</key><string>en_US.UTF-8</string>
        <key>LC_ALL</key><string>en_US.UTF-8</string>
    </dict>
    <key>RunAtLoad</key><false/>
    <key>StandardOutPath</key><string>__SKILL_DIR__/launchd.out.log</string>
    <key>StandardErrorPath</key><string>__SKILL_DIR__/launchd.err.log</string>
</dict>
</plist>
